AuthorizationPolicy Breaks on JWT Scope with Space-Separated Values After Istio Update

### Is this the right place to submit this?

- [x] This is not a security vulnerability or a crashing bug
- [x] This is not a question about how to use Istio

### Bug Description

### Issue Summary

After upgrading Istio, we noticed a regression in JWT scope validation behavior within `AuthorizationPolicy` rules.

### Problem Description

When the JWT token includes multiple scopes separated by spaces—such as:

```json
{
  "scope": "read write delete"
}
```
Istio fails to properly validate the scope values specified in the policy

```yaml
rules:
  - from:
      - source:
          requestPrincipals:
            - https://example.com*
    when:
      - key: request.auth.claims[client_id]
        values:
          - 3ea8ef7248b4asedfae2b93fc6700e9a
          - 57086esasdf347caa12bc68e3006361f
      - key: request.auth.claims[scope]
        values:
          - 'read'
          - 'delete'
          - 'write'
```
According to [RFC 6749 Section 3.3](https://datatracker.ietf.org/doc/html/rfc6749#section-3.3), the scope field may contain space-delimited strings, which Istio seems to not handle correctly after the update.

### Investigation

We found that Istio's current implementation uses `HasPrefix` and `HasSuffix` logic:

```yaml
- key: request.auth.claims[scope]
  values:
    - 'read*'
    - '*delete'

```

This does not reliably validate scopes within a space-delimited string.

### Proposed Solution

We suggest adding support for `Contains` logic to improve scope matching:

```yaml
- key: request.auth.claims[scope]
  values:
    - '*read*'
    - '*delete*'
```

This would allow policies to correctly match individual scopes embedded within a space-delimited string in the `scope` claim.

However, the ideal solution is that it would work like this:

```yaml
- key: request.auth.claims[scope]
  values:
    - 'read'
    - 'delete'
    - 'write'
```

### Version

```Text
istio version: v1.24.4
```

### Additional Information

This behavior started after the upgrade and worked previously with space-separated scopes.

_No response_

This is very strange. We even have an [integration test for this](https://github.com/istio/istio/blob/89f30b26ba71bf5e538083a4720d0bc2d8c06401/tests/integration/security/testdata/authz/jwt.yaml.tmpl#L56-L62) (it covers the `permission` claim but it should be handled the same way as `scope`)

I'm [adding a test specifically for `scope`](https://github.com/istio/istio/pull/57106), it passes locally for me but let's see what CI says. In generaly, it will be good to cover this feature.

hi @FelipeOSantos, I added an integration test that confirms that this feature is working as expected. Can you try to create a complete, minimal reproducer of this so we can debug it further? Basically, a full step-by-step install of istiod with RequestAuthentication and a single-rule AuthorizationPolicy with multiple values for the scope. As a token, feel free to generate one yourself or use the one from my [PR](https://github.com/istio/istio/pull/57106).

@dgn would you like me to assign this issue to you instead?

Hello @dgn, based on the PR, I will try to reproduce my scenario, but first I need to understand how to do it in your PR. As soon as I manage to do it, I'll let you know. Thanks for your response.

> Hello [@dgn](https://github.com/dgn), based on the PR, I will try to reproduce my scenario, but first I need to understand how to do it in your PR. As soon as I manage to do it, I'll let you know. Thanks for your response.

I wonder if the integration test isn't reproing it since there are only 2 scopes rather 3 or more.

@FelipeOSantos what versions of Istio are you upgrading to and from?

> > Hello [@dgn](https://github.com/dgn), based on the PR, I will try to reproduce my scenario, but first I need to understand how to do it in your PR. As soon as I manage to do it, I'll let you know. Thanks for your response.
> 
> I wonder if the integration test isn't reproing it since there are only 2 scopes rather 3 or more.
> 
> [@FelipeOSantos](https://github.com/FelipeOSantos) what versions of Istio are you upgrading to and from?

I will evaluate these tests so I can try to reproduce my scenario. Currently, we are upgrading from version 1.18 to 1.24.

Actually in our test we have another field named for scope (provider.login.scope) :


- key: request.auth.claims[provider.login.scope]
   values:
      - scope1
      - scope2
      - scope3


Our token request contains:


{
 "clientId": "exampleId",
 "provider.login.scope": "scope3 scope1 scope2"
}

> > Hi [@dgn](https://github.com/dgn) , I'm a team member alongside [@FelipeOSantos](https://github.com/FelipeOSantos) .
> > Actually, in our test, we have another field named **provider.login.scope**:
> > ```
> > 
> > - key: request.auth.claims[provider.login.scope]
> >   values:
> >     - scope1
> >     - scope2
> >     - scope3
> > ```
> > 
> > 
> >     
> >       
> >     
> > 
> >       
> >     
> > 
> >     
> >   
> > Our token request contains:
> > { "clientId": "exampleId", "provider.login.scope": "scope3 scope1 scope2" }
> > The expected behavior (which is the one we observed in the previous version 1.18.2) is that if the request contains any of these scopes (at least one), it should match and approve the request.
> 
> But in this scenario, there weren't any problems because the token **response** returned provider.login.scope as a **list**, not as a space-separated string.
> 
> [@jonatasvieira](https://github.com/jonatasvieira), could you please confirm this information?

Actually in this case it will fail (on the istio 1.24), due to the space-separeted string instead of a list.

I have spent some time today trying to write an EnvoyFilter for this, and the short answer is: it's not a great idea. The reason is that EnvoyFilter only allows you to replace **the entire filter config**, so basically everything that Istio generates from your AuthorizationPolicy, RequestAuthentication etc., so it's going to be extremely brittle even if you can get it to work. You can't surgically replace just that one array.

As an example, here's a complete filter config:
```json
{
  "name": "envoy.filters.http.jwt_authn",
  "typed_config": {
    "@type": "type.googleapis.com/envoy.extensions.filters.http.jwt_authn.v3.JwtAuthentication",
    "providers": {
      "origins-0": {
        "issuer": "test-issuer-custom@istio.io",
        "local_jwks": {
          "inline_string": "{ \"keys\":[ {\"e\":\"AQAB\",\"kid\":\"tT_w9LRNrY7wJalGsTYSt7rutZi86Gvyc0EKR4CaQAw\",\"kty\":\"RSA\",\"n\":\"raJ7ZEhMfrBUo2werGKOow9an1B6Ukc6dKY2hNi10eaQe9ehJCjLpmJpePxoqaCi2VYt6gncLfhEV71JDGsodbfYMlaxwWTt6lXBcjlVXHWDXLC45rHVfi9FjSSXloHqmSStpjv3mrW3R6fx2VeVVP_mrA6ZHtcynq6ecJqO11STvVoeeM3lEsASVSWsUrKltC1Crfo0sI7YG34QjophVTEi8B9gVepAJZV-Bso5sinRABnxfLUM7DU5c8MO114uvXThgSIuAOM9PbViSC3X6Y9Gsjsy881HGO-EJaUCrwSWnwQW5sp0TktrYL70-M4_ug-X51Yt_PErmncKupx8Hw\"}]}"
        },
        "payload_in_metadata": "payload",
        "normalize_payload_in_metadata": {
          "space_delimited_claims": [
            "scope",
            "permission"
          ]
        }
      }
    },
    "rules": [
      {
        "match": {
          "prefix": "/"
        },
        "requires": {
          "requires_any": {
            "requirements": [
              {
                "provider_name": "origins-0"
              },
              {
                "allow_missing": {}
              }
            ]
          }
        }
      }
    ],
    "bypass_cors_preflight": true
  }
}
```

So you'd have to make sure that your EnvoyFilter keeps all that intact and only updates that `space_delimited_claims` array. I tried using the `MERGE` strategy but it broke other fields in the `provider`, so you essentially have to copy the entire `provider` block into your EnvoyFilter.

I think we should look at extending the API.

I just created this [PR](https://github.com/istio/istio/pull/57248). I'll be working from here to get this merge and solve the issue with the custom scopes

@fjglira Thanks for your effort on this. Just to clarify—will it be possible to support different space-delimited scope fields within the same Istio mesh?

As I mentioned earlier, we’re facing a situation where the same cluster uses two different issuers. For one issuer, the scope field is named one way, and for the other, it’s named differently (e.g., provider.auth.scope). Given that, I’m wondering if your solution allows us to configure different scope field names for each issuer.

Hi @jonatasvieira, yes the solution propones will enable the posibilite to add as many custom scope claims are needed. Please take a look to the PR I think the explanation there is complete. If you have any doubt please tell me

> Hi [@jonatasvieira](https://github.com/jonatasvieira), yes the solution propones will enable the posibilite to add as many custom scope claims are needed. Please take a look to the PR I think the explanation there is complete. If you have any doubt please tell me

Great, I saw it now. Thank you!

Hi @felipeosantos, the [PR](https://github.com/istio/istio/pull/57781) has been merged, and now the feature will be added to the next 1.28 Istio release. 

To set custom claims to be treated as space-delimited, you will need to set it in the RequestAuthentication, as shown in the example under `spec.jwtRules.spaceDelimitedClaims`:
```
apiVersion: security.istio.io/v1
kind: RequestAuthentication
metadata:
  name: default
spec:
  jwtRules:
  - issuer: "test-issuer-1@istio.io"
    jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
  - issuer: "test-issuer-2@istio.io"
    jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
    spaceDelimitedClaims: ["custom_scope", "teams"]
```

You can add as many `spaceDelimitedClaims` as you need to be able to use later in the 
AuthorizationPolicy, for example:
 
```
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: {{ .To.ServiceName }}
spec:
  selector:
    matchLabels:
      "app": "{{ .To.ServiceName }}"
  rules:
...
  # Test custom_scope claim with space-delimited values
  - to:
    - operation:
        paths: ["/custom-scope-admin"]
        methods: ["GET"]
    when:
    - key: request.auth.claims[custom_scope]
      values: ["admin"]
  - to:
    - operation:
        paths: ["/custom-scope-user"]
        methods: ["GET"]
    when:
    - key: request.auth.claims[custom_scope]
      values: ["user"]
  ...
```

