Path parameters allow bypassing of AuthorizationPolicy rules

(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Envoy does not seem to be doing proper path normalization when path parameters are added to the path.
This allows for bypassing authorization policy rules.

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Affected features (please put an X in all that apply)**

[ ] Multi Cluster
[ ] Virtual Machine
[ ] Multi Control Plane

**Expected behavior**
Path parameters shouldn't make it possible to bypass policies.

**Steps to reproduce the bug**
AuthorizationPolicy:
```
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policyname
spec:
  action: ALLOW
  rules:
  - to:
    - operation:
        methods:
        - GET
        paths:
        - /
        - /v1/*
        - /internal/path1
        - /internal/path1/path2
        - /internal/path1/path3
        - /internal/path1/path4
    when:
    - key: request.auth.claims[groups]
      values:
      - groupname
```

When accessing path `https://some.site.name/v1/../internal/path1/path5` access is denied
When accessing path `https://some.site.name/v1/..;/internal/path1/path5` or `https://some.site.name/v1/..;path_param=value/internal/path1/path5` access is allowed


**Version (include the output of `istioctl version --remote` and `kubectl version --short` and `helm version` if you used Helm)**
1.7.1

**How was Istio installed?**
istioctl install

**Environment where bug was observed (cloud vendor, OS, etc)**
GKE 1.16

Additionally, please consider attaching a [cluster state archive](http://istio.io/help/bugs/#generating-a-cluster-state-archive) by attaching
the dump file to this issue.



A lo-fi regex-replace to filter out path parameters from a path is to use `;.*?/` and replace with `/`.

This transforms `/v1/..;/internal/path1/path5` (and `/v1/..;path_param=value/internal/path1/path5`) to `/v1/../internal/path1/path5` which should then get normalised to `/internal/path1/path5` which should then be blocked.

This regex doesn't filter out path parameters at the end of a path, so `/v1/..;/internal/path1/path5;color=red` would be transformed to `/v1/../internal/path1/path5;color=red`. I don't think a path parameter at the end of a path can be used to circumvent these access rules. If you want to filter a path parameter at the end out as well, I guess you could regex-remove `;.*?$`.

Path segments were part of [RFC2396](https://tools.ietf.org/html/rfc2396), but they are not part of [RFC3986](https://tools.ietf.org/html/rfc3986) which obsoleted it, so they are not a part of any active standard for over 15 years.

Furthermore, [RFC3986, sec. 3.3](https://tools.ietf.org/html/rfc3986#section-3.3) states that:

> The path segments "." and "..", also known as dot-segments, are
>  defined for relative reference within the path name hierarchy.
> [...]
> Aside from dot-segments in hierarchical paths, a path segment is
> considered opaque by the generic syntax.

which means that other than resolving relative paths using `.` and `..`, we shouldn't be modifying it.

The same section mentions to the obsoleted path parameters:

> URI producing applications
> often use the reserved characters allowed in a segment to delimit
> scheme-specific or dereference-handler-specific subcomponents.  For
> example, the semicolon (";") and equals ("=") reserved characters are
> often used to delimit parameters and parameter values applicable to
> that segment.  The comma (",") reserved character is often used for
> similar purposes.  For example, one URI producer might use a segment
> such as "name;v=1.1" to indicate a reference to version 1.1 of
> "name", whereas another might use a segment such as "name,1.1" to
> indicate the same.  Parameter types may be defined by scheme-specific
> semantics, but in most cases the syntax of a parameter is specific to
> the implementation of the URI's dereferencing algorithm.

but they are considered implementation specific, and since it's not something that's implemented by many HTTP proxies and/or servers (i.e. it's not a de-facto standard), I don't think it should be handled at the proxy level.

Lastly, please report any potential security issues using https://istio.io/latest/about/security-vulnerabilities/. Thanks!

If you use 'https://some.site.name/v1/..;/internal/path1/path5' - does the app receive a request with the URL 
https://some.site.name/v1/..;/internal/path1/path5 or https://some.site.name/internal/path1/path5 ?

If it's the first - working as intended. If it's the laster - it's a bug. 

My understanding is the same as Piotr - "..;pathparam" is not the same as ".." - a proxy should not 
touch it, and the application should not try to normalize it. If app or proxy do attempt to normalize - I think
it's a problem.  



From the logs I see the following:

When doing `/v1/..;/internal/path1/path5`, the request is logged by Envoy and the service behind Envoy (both as `/v1/..;/internal/path1/path5`). Envoy doesn't normalize it and passes it on towards the service. This seems to mishandle it and serve the file back to the caller?

When doing `/v1/../internal/path1/path5`, Envoy does seem to normalize and logs it as `/internal/path1/path5` (which also gets properly denied because of the authz policy).

So, what are options if this is expected behavior of Envoy? Fix the backend app? Or can we use some filter magic to prevent abusing this?


Both Apache Tomcat and Jetty will serve `/internal/path1/path5` when you request `/v1/..;/internal/path1/path5`.

We will be solving this by adding a custom EnvoyFilter to block URLs with that pattern in it.

Relevant discussion on Tomcat mailing list: https://www.mail-archive.com/users@tomcat.apache.org/msg136235.html

Yes, I started that thread on the Tomcat users mailinglist. It seems people on that mailinglist disagree with path parameters not being part of any active standard.

> The current RFC for URIs (3986) continues to make reference to parameters within segments and using ';' as a delimiter for them. See the final paragraph of section 3.3. The reference in section D.2 to obsolete rules is a simplification of the grammar, not a removal of features.

And:

> RFC 2396 *extended* path parameters to be applicable to each path segment, see <https://greenbytes.de/tech/webdav/rfc2396.html#rfc.section.3.3>. RFC 3986 further generalized things (see last paragraph of <https://www.greenbytes.de/tech/webdav/rfc3986.html#rfc.section.3.3>). They have not been "dropped".

Path parameters are apparently also part of the Java Servlet spec.

assigned to @yangminzhu about potential compromise about bypassing authorization policy rules without security check

This is working as intended in Istio based on the current Envoy implementation. Please open the issue in Envoy for further discussions if you think the behavior should be changed in Envoy.
