Make TLSv1.2 as the default minimum TLS version for istiod

**Describe the feature request**
Currently, the istiod server supports TLS versions 1.0, 1.1, 1.2, and 1.3. This comes from the following golang package used in Istio: https://golang.org/pkg/crypto/tls/

However, TLSv1.0 and TLSv1.1 are weak & vulnerable protocols and are recommended NOT to be used. According to the 3GPP standards, TLSv1.2 should be the minimum, and here is the statement from the document mentioning the same: 

```
TLS versions
- SSL 1.0, SSL 2.0, SSL 3.0, TLS 1.0, TLS 1.1 [67] and DTLS 1.0 shall not be supported. 
- TLS 1.2 as specified in RFC 5246 [50] shall be supported. TLS 1.3 as specified in RFC 8446 [66] shall be supported. If DTLS is supported then DTLS 1.2 as specified in RFC 6347 [49] shall be supported.
```
A NIST publication (https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-52r2.pdf ) also mentions the same:

`Servers that support government-only applications shall be configured to use TLS 1.2 andshould be configured to use TLS 1.3 as well. These servers should not be configured to use TLS1.1 and shall not use TLS 1.0, SSL 3.0, or SSL 2.0.`


**Describe alternatives you've considered**
I was able to set this by adding the following TLS config while initializing the secure GRPC server.(https://github.com/istio/istio/blob/master/pilot/pkg/bootstrap/server.go)

```
cfg := &tls.Config{
		GetCertificate: s.getIstiodCertificate,
		ClientAuth:     tls.VerifyClientCertIfGiven,
                MinVersion:     tls.VersionTLS12,
                .
                .
```

With this configuration, as expected, I was later unable to query port 15012 of istiod for example, with TLSv1.0 or 1.1.



[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

Resolved in PR #31705