JWT policy evaluation imposes case sensitive requirement on Bearer prefix in Authorization request header

**Bug description**

When Istio (or rather underlying Envoy jwt_authn http filter?) processes JWT policy, it will fail to authenticate when the word "Bearer" in the Authorization header isn't an exact case match. RFC-2617 seems to indicate the auth type prefix in the header should be case insensitive.[1]

[1] - https://tools.ietf.org/html/rfc2617#section-1.2



**Expected behavior**

Policy evaluation should not impose a case sensitivity requirement on the word "Bearer" in the Authorization header. 

**Steps to reproduce the bug**

I am using a basic JWT policy:

```
apiVersion: authentication.istio.io/v1alpha1
kind: Policy
metadata:
  name: mhite-elbgateway-jwt
  namespace: istio-system
spec:
  origins:
  - jwt:
      issuer: https://<redacted>
      jwksUri: https://<redacted>/oxauth/restv1/jwks
      triggerRules:
      - excludedPaths:
        - exact: /
  principalBinding: USE_ORIGIN
  targets:
  - name: mhite-elbgateway
```

This will work:

```
$ curl -H "Authorization: Bearer <jwt-token>" -v https://mydomain.com/api
...
< HTTP/2 200
< x-powered-by: Express
< content-security-policy: default-src 'none'
< x-content-type-options: nosniff
< content-type: text/html; charset=utf-8
< content-length: 155
< date: Mon, 30 Mar 2020 23:56:14 GMT
< x-envoy-upstream-service-time: 6
< server: istio-envoy
```

This will not work:

```
$ curl -H "Authorization: bearer <jwt-token>" -v https://mydomain.com/api
...
< HTTP/2 401
< content-length: 29
< content-type: text/plain
< date: Mon, 30 Mar 2020 23:56:18 GMT
< server: istio-envoy
<
Origin authentication failed.
```

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

```
$ istioctl version --remote
client version: unknown
accounts-mp-ilbgateway version:
accounts-mp-ilbgateway version:
commerce-elbgateway version:
commerce-elbgateway version:
etnc-prototype-ilbgateway version:
etnc-prototype-ilbgateway version:
citadel version: 1.4.6
galley version: 1.4.6
galley version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
pilot version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
policy version: 1.4.6
sidecar-injector version: 1.4.6
sidecar-injector version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
telemetry version: 1.4.6
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
m-prototype-ilbgateway version:
mhite-elbgateway version:
mhite-elbgateway version:
mhite-elbgateway version:
mhite-ilbgateway version:
mhite-ilbgateway version:
monolith-ilbgateway version:
monolith-ilbgateway version:
```

```
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-13T11:51:44Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.10-gke.17", GitCommit:"bdceba0734835c6cb1acbd1c447caf17d8613b44", GitTreeState:"clean", BuildDate:"2020-01-17T23:10:13Z", GoVersion:"go1.12.12b4", Compiler:"gc", Platform:"linux/amd64"}
```

**How was Istio installed?**

We install Istio using helm charts.

**Environment where bug was observed (cloud vendor, OS, etc)**

We are running open source Istio 1.4.6 on Google Kubernetes Engine (GKE).

🧭 This issue or pull request has been automatically marked as stale because it has not had activity from an Istio team member since 2020-03-31. It will be closed on 2020-07-14 unless an Istio team member takes action. Please see [this wiki page](https://github.com/istio/istio/wiki/Issue-and-Pull-Request-Lifecycle-Manager) for more information. Thank you for your contributions.


_Created by the issue and PR lifecycle manager_.

Any chance this can get triaged?

🚧 This issue or pull request has been closed due to not having had activity from an Istio team member since 2020-03-31. If you feel this issue or pull request deserves attention, please reopen the issue. Please see [this wiki page](https://github.com/istio/istio/wiki/Issue-and-Pull-Request-Lifecycle-Manager) for more information. Thank you for your contributions.


_Created by the issue and PR lifecycle manager_.

FYI for others looking for a solution, the Bearer keyword is case sensitive according to RFC-6750.

From the RFC:

> [1.1](https://www.rfc-editor.org/rfc/rfc6750.html#section-1.1).  Notational Conventions
> 
>    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
>    "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
>    document are to be interpreted as described in "Key words for use in
>    RFCs to Indicate Requirement Levels" [[RFC2119](https://www.rfc-editor.org/rfc/rfc2119)].
> 
>    This document uses the Augmented Backus-Naur Form (ABNF) notation of
>    [[RFC5234](https://www.rfc-editor.org/rfc/rfc5234)].  Additionally, the following rules are included from
>    HTTP/1.1 [[RFC2617](https://www.rfc-editor.org/rfc/rfc2617)]: auth-param and auth-scheme; and from "Uniform
>    Resource Identifier (URI): Generic Syntax" [[RFC3986](https://www.rfc-editor.org/rfc/rfc3986)]: URI-reference.
> 
>    Unless otherwise noted, all the protocol parameter names and values
>    are case sensitive.

Please note the bottom paragraph, and:

> [2.1](https://www.rfc-editor.org/rfc/rfc6750.html#section-2.1).  Authorization Request Header Field
> 
>    When sending the access token in the "Authorization" request header
>    field defined by HTTP/1.1 [[RFC2617](https://www.rfc-editor.org/rfc/rfc2617)], the client uses the "Bearer"
>    authentication scheme to transmit the access token.

There is no metion of the bearer keyword being case insensitive that I can find which means it is case sensitive.